body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; /* center vertically */
  padding-top: 5px; /* extra top space */
  min-height: 70vh;
}

.gameElements {
  text-align: center;
  justify-content: center;
  width: 480px;
  /* height: 100px; */
  padding: 20px;
  border: black 5px solid;
  box-sizing: border-box;
}

span {
  text-align: center;
  /* padding-bottom: 50px; */
}

#reset {
  margin-top: 10px;
  width: 80px;
  height: 80px;
}

.change {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
